<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Songs - Tunehub</title>
</head>
<body>
	<h1>Add New Song..</h1>
	<form action="/addSong" method="post">
		<label>Song Name : </label><input type="text" name="name" required="required" />
		<br><br>
		<label>Artist : </label><input type="text" name="artist" required="required"/>
		<br><br>
		<label>Genre : </label><input type="text" name="genre" required="required"/>
		<br><br>
		<label>Link : </label><input type="text" name="link" required="required"/>
		<br><br>
		<input type="submit" value="Add Song" />
	</form>
</body>
</html>