<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Create Playlist</title>
</head>
<body>
	<h1>Create Playlist</h1>
	<form action="/addPlaylist" method="post">
		<label>Playlist Name : </label><input type="text" name="name" placeholder="Enter Playlist name" required="required"/>
		<br>
		<div th:each="song:${songs}">
		<input type="checkbox" th:name="songs" th:value="${song.id}" /><label th:text="${song.name}"></label>
		</div>		
		<input type="submit" value="Create Playlist" />
	</form>
</body>
</html>