<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login - Tunehub</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="containerLogin">
		<h1 >Users LOGIN :</h1>
		<form action="/validate" method="post" class="loginForm">
			<label>Email : </label><input type="email" name="email" placeholder="Enter email" required="required" /> <br>
			<br> 
			<label>Password : </label><input type="password" name="password" placeholder="Enter password" required="required" /> <br>
			<br> 
			<input type="submit" value="LOGIN" 
				style="cursor: pointer;
						padding: 10px 20px;
						font-size: 16px;
    					border: none;
   						border-radius: 4px;"
   			/>
		</form>
	</div>
</body>
</html>